{% extends 'quotes/base.html' %}
{% load extract %}
{% block content %}

<h3>Viewing tag: <a href="{% url 'quotes:tag' viev_tag %}">{{viev_tag}}</a></h3>

<div class="col-md-8">
  {% for quote in quotes %}
  <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
    <span class="text" itemprop="text">{{quote.quotes}}</span>
    <span
      >by <small class="author" itemprop="author">{{quote.authors|author}}</small>
      <a href="{% url 'quotes:author' quote.authors %}">(about)</a>
    </span>
    <div class="tags">
      Tags: {% for tag in quote.tags %}
        <!-- <a class="tag" href="/tag/{{tag}}">{{tag}}</a> -->
        <a class="tag" href="{% url 'quotes:tag' tag %}">{{tag}}</a>
        {% endfor %}
    </div>
  </div>
  {% endfor %}
  <nav>
    <ul class="pager"></ul>
  </nav>
</div>

{% endblock %}
